[submodule "f1r3fly"]
	path = f1r3fly
	url = https://github.com/F1R3FLY-io/f1r3fly.git
	branch = main

[submodule "rust-client"]
	path = rust-client
	url = https://github.com/F1R3FLY-io/rust-client.git
	branch = main